@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
  --color-primary: hsl(266, 100%, 50%);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #e2e2e2e5;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}